body {
    text-align: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: blue;
    background-color: darkgray;
}

#p1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
    background-color: darkgray;
    font-style: italic;
}

#p2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cadetblue;
    background-color: darkgray;
    font-style: oblique;
    font-weight: bolder;
}

#p3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: cyan;
    background-color: darkgray;
    font-weight: bold;
}