h1 {
    color: darkslateblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#saudacao {
    font-size: 1.5rem;
    color: darkviolet;
    text-align: center;
}